<div class="container">
    <div class="row">
        <div class='col-sm-6'>
           <div class='row'>
           	<%= form_tag crear_cita_path(), :method => 'post', :id => 'citasform', :remote => true do %> 
           	<div class= 'col-xs-12'>
           		 <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
           	<div class= 'col-xs-12'>
           		<div class="input-group mb-3">
				  <span class="input-group-text" id="basic-addon1">Nombre</span>
				  <input type="text" name="nombre" class="form-control" placeholder="nombre" aria-label="Username" aria-describedby="basic-addon1">
				</div>
            </div>
            <div class= 'col-xs-12'>
           		<div class="input-group mb-3">
				  <span class="input-group-text" id="basic-addon1">Apellido</span>
				  <input type="text" name="apellido" class="form-control" placeholder="apellido" aria-label="Username" aria-describedby="basic-addon1">
				</div>
            </div>
            <div class= 'col-xs-12'>
           		<div class="input-group mb-3">
				  <span class="input-group-text" id="basic-addon1">Telefono</span>
				  <input type="text" name="telefono" class="form-control" placeholder="8888-8888" aria-label="Username" aria-describedby="basic-addon1">
				</div>
            </div>
            <div class= 'col-xs-12'>
           		<div class="input-group mb-3">
				  <span class="input-group-text" id="basic-addon1">Email</span>
				  <input type="text" name="email" class="form-control" placeholder= 'email@test.com' value='<%= @user&.email %>' aria-label="Username" aria-describedby="basic-addon1">
				</div>
            </div>
            <div class= 'col-xs-12'>
            	<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
				  <input type="radio"  class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
				  <label class="btn btn-outline-primary" for="btnradio1">Manicura/Pedicura</label>

				  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
				  <label class="btn btn-outline-primary" for="btnradio2">Cabello/Tinte</label>

				  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
				  <label class="btn btn-outline-primary" for="btnradio3">Radio 3</label>
				</div>
            </div>
           	</div>

           	<br/>
           	<br/>
           	<br/>


           	<button type="submit" class="btn btn-secondary">Guardar</button>
           	<% end %>
           </div>
        </div>
        <script type="text/javascript">
        	$(document).ready(function() {
        	$('#datetimepicker1').datetimepicker();
        	})

        </script>
    </div>
</div>